HPTClientCore/Service References/HPTService/HPTService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://jes/HPTService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://jes/HPTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateAndGetCalendarZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateAndGetCalendarZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateAndGetCalendarZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="stream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="UploadSystemResult" nillable="true" type="q2:HPTSaveSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCompleteSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="stream" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCompleteSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="UploadCompleteSystemResult" nillable="true" type="q4:HPTSaveSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadOnlineSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="stream" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadOnlineSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="UploadOnlineSystemResult" nillable="true" type="q6:HPTSaveSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRaceDayInfoComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="stream" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRaceDayInfoCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="UploadRaceDayInfoCommentsResult" nillable="true" type="q8:HPTSaveSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="stream" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSystemResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="stream" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="UploadConfigurationResult" nillable="true" type="q11:HPTSaveSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveConfigurationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="stream" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="SendMailResult" nillable="true" type="q13:HPTSaveSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetCalendarResult" nillable="true" type="q14:HPTCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarLight">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarLightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetCalendarLightResult" nillable="true" type="q15:HPTCalendarLight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarZip">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCalendarZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoByTrackAndDateZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoByTrackAndDateZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRaceDayInfoByTrackAndDateZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceInfoByTrackAndDateZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="raceNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceInfoByTrackAndDateZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRaceInfoByTrackAndDateZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoHistoryGroupedByTrackAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoHistoryGroupedByTrackAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRaceDayInfoHistoryGroupedByTrackAndDateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRaceDayInfoByTrackAndDateZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRaceDayInfoByTrackAndDateZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRaceDayInfoByTrackAndDateZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextStartForHorsesZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/Message" name="stream" type="q16:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextStartForHorsesZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextStartForHorsesZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoLightByTrackAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoLightByTrackAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetRaceDayInfoLightByTrackAndDateResult" nillable="true" type="q17:HPTRaceDayInfoLight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultMarkingBetZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultMarkingBetZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultMarkingBetZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultTvillingZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="raceNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultTvillingZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultTvillingZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultDoubleZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultDoubleZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultDoubleZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoHistoryZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceDayInfoHistoryZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRaceDayInfoHistoryZipResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCommentsByEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCommentsByEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserCommentsByEMailResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCommentsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCommentsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserCommentsAllResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRaceDayInfoCommentsByEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackID" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRaceDayInfoCommentsByEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRaceDayInfoCommentsByEMailResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRaceDayInfoCommentsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackID" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRaceDayInfoCommentsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRaceDayInfoCommentsAllResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSystemsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemByEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemByEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSystemByEMailResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemByUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemByUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSystemByUniqueIdResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSystemByUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="betType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" type="xs:int" />
        <xs:element minOccurs="0" name="raceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSystemByUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserSystemByUniqueIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemOnlineByEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemOnlineByEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSystemOnlineByEMailResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemOnlineByUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSystemOnlineByUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSystemOnlineByUniqueIdResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTemplatesByEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTemplatesByEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserTemplatesByEMailResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTemplatesAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTemplatesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserTemplatesAllResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetSystemResultResult" nillable="true" type="q18:HPTCorrectionSystemResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemCoupons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemCouponsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetSystemCouponsResult" nillable="true" type="q19:ArrayOfHPTCoupon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberofDaysToAdd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="UpdateUserResult" nillable="true" type="q20:HPTUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetUserResult" nillable="true" type="q21:HPTUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="RetrieveMessagesResult" nillable="true" type="q22:ArrayOfHPTLogMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailaddresspart" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HPTServiceLibrary" minOccurs="0" name="GetUserListResult" nillable="true" type="q23:ArrayOfHPTUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>